* {
    box-sizing: border-box;
}

/* *** FONTS *** */

@font-face {
    font-family: impact;
    src: url(fonts/impact.ttf);
}

@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: openSans-bold;
    src: url(fonts/OpenSans-Bold.ttf)
}

/* *** BASICS *** */

/* Scroll Bar */

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(95, 44, 130);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgb(159, 56, 228);
    ;
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
    -webkit-border-radius: 100px;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(95, 44, 130)), to(rgb(73, 160, 157))) fixed;
    margin: 0;
    font-family: openSans, sans-serif;
    touch-action: manipulation;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

img {
    width: 100%;
    object-fit: cover;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/* *** COMPONENTS *** */

/* Mobile Menu */

.screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s;
    z-index: 998;
}

.menu-open .screen {
    visibility: visible;
    opacity: 1;
}

.btn-menu {
    display: none;
}

/* Header */

.main-header {
    background-color: white;
    height: 10vh;
    box-shadow: 0 0 16px rgba(23, 31, 45);
    padding: 30px;
}

.main-header .logo {
    font-family: impact, sans-serif;
    background: -webkit-linear-gradient(rgb(95, 44, 130), rgb(73, 160, 157));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: -2px;
    font-size: 40px;
}

.btn-menu {
    display: none;
}

.main-nav .quit-menu {
    visibility: hidden;
}

.main-nav li {
    background-color: #f3f3f3;
    width: 150px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.main-nav a:hover {
    color: rgb(73, 160, 157);
}

.main-nav .active {
    background-color: rgb(73, 160, 157);
}

.main-nav .active a {
    color: white;
}

/* Main Container */

.main-container {
    background-color: white;
    box-shadow: 0 0 16px rgba(23, 31, 45, 0.24);
    margin: 20px auto;
    border-radius: 10px;
    padding: 30px;
    width: 1000px;
}

.search-by {
    width: 100%;
    margin-bottom: 30px;
}

.search-input {
    width: 50%;
    height: 50px;
    font-size: 1.5rem;
    padding-left: 10px;
    color: #7f8fa6;
    border: none;
    background: #f5f6fa;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: openSans, sans-serif;
}

.search-btn {
    width: 50px;
    background: #f5f6fa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #487eb0;
}

.search-btn:hover {
    color: #273c75;
}

.search-by input::-webkit-calendar-picker-indicator {
    display: none;
}

.upload-img-container {
    margin: 30px auto;
}

.upload-img-title {
    margin-bottom: 10px;
    font-family: openSans-Bold, sans-serif;
}

.upload-img {
    border: 1px solid #e6e6e6;
    padding: 5px;
    border-radius: 3px;
}

/* Make Meme Container */

.main-container .make-meme-container {
    display: none;
    position: relative;
}

.imgs-container {
    column-count: 5;
}

.imgs-container img {
    cursor: pointer;
    transition: .5s;
    border-radius: 15px;
}

.imgs-container img:hover {
    filter: brightness(70%);
}

.meme-edit-container {
    margin-left: 20px;
}

.edit-btn {
    background-color: #f5f6fa;
    padding: 20px;
    font-size: 1.2rem;
    margin: 10px;
    transition: .2s;
    border-radius: 3px;
}

.change-text-color {
    cursor: pointer;
}

.edit-btn:hover {
    background-color: rgb(95, 44, 130);
    color: white;
}

.bottom-btns-container {
    width: 100%;
    align-items: flex-end;
}

.bottom-btn {
    font-family: openSans-Bold, sans-serif;
    transition: .3s;
    border-radius: 5px;
    color: white;
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-download-meme {
    background-color: #4cd137;
}

.edit-download-meme:hover {
    background-color: #258a16;
}

.fb-share {
    background-color: #4267b2;
    font-size: 1rem
}

.fb-share:hover {
    background-color: #29487d;
}

.save-meme {
    background-color: rgb(153, 56, 218);
}

.save-meme:hover {
    background-color: rgb(95, 44, 130);
}

.meme-text-container {
    width: 100%;
}

.meme-text-container input {
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: impact, sans-serif;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 15px;
}

/* Main Footer */

.main-footer {
    background-color: white;
    height: 5vh;
    box-shadow: 0 0 16px rgba(23, 31, 45);
}

/* Saved Memes */

.saved-memes-title {
    font-family: openSans-bold, sans-serif;
}

.single-meme {
    margin-bottom: 10px;
}

.saved-icon {
    font-size: 1.375rem;
    cursor: pointer;
    transition: .3s;
}

.delete-meme {
    margin-right: 7px;
}

.delete-meme:hover {
    color: #e84118;
}

.download-meme:hover {
    color: #4cd137;
}

/* *** MEDIA QUERIES *** */

@media (max-width: 1060px) {
    .make-meme-container .inline-input {
        width: 100%;
    }
    .main-container {
        width: 85vw;
        width: 560px;
    }
    .search-btn {
        height: 50px;
        margin-left: -2px;
    }
    .meme-edit-container {
        margin-left: 0px;
    }
    .make-meme-container {
        flex-direction: column;
    }
    .imgs-container {
        column-count: 3;
    }
    canvas {
        margin: auto;
        margin-bottom: 20px;
    }
    .edit-btns-container {
        display: flex;
        flex-wrap: wrap;
        justify-self: center;
        justify-content: center;
    }
    .bottom-btns-container {
        justify-content: center;
    }
    .bottom-btn {
        width: 95px;
    }
    .fb-share {
        margin: 0 10px;
    }
}

@media (max-width: 740px) {
    .main-container {
        width: 85vw;
    }
    .btn-menu {
        background: url("../img/menu.png");
        width: 24px;
        height: 24px;
        display: inline-block;
        cursor: pointer;
        border: none;
    }
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        background-color: black;
        width: 200px;
        transform: translateX(105%);
        transition: transform .6s;
        box-shadow: -4px 0px 5px 0px rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
    .main-nav li {
        background-color: transparent;
        width: unset;
        justify-content: flex-start;
    }
    .main-nav li a {
        color: white;
    }
    .menu-open .main-nav {
        transform: translateX(0);
    }
    .main-nav .quit-menu {
        visibility: visible;
        margin: 7px;
        background: none;
    }
    .quit-menu button {
        background: url("../img/quit.png");
        width: 24px;
        height: 24px;
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 660px) {
    .main-container {
        padding: 25px;
    }
    .imgs-container {
        column-count: 1;
        text-align: center;
    }
    .imgs-container img {
        max-width: 500px;
    }
    canvas {
        max-width: 500px;
    }
}

/* *** HELPERS *** */

/* Modal */

.modal {
    display: none;
    height: 100%;
}

.modal-screen {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    cursor: pointer;
}

.modal-container {
    background-color: white;
    width: 40%;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.75);
}

.modal-header {
    padding: 12px 15px;
}

.modal-title {
    font-family: openSans-bold, sans-serif;
    font-size: 1.2rem;
}

.close-modal {
    background-color: #dcdde1;
    position: absolute;
    right: 8px;
    top: 8px;
    color: black;
    padding: 10px;
    border-radius: 50%;
    transition: .3s;
}

.close-modal:hover {
    background-color: #e84118;
    color: white;
}

.modal-content {
    padding: 30px;
    margin-bottom: 10px;
}

.modal-submit {
    border-radius: 3px;
    font-family: openSans-Bold, sans-serif;
    padding: 10px;
}

.modal-submit {
    background-color: #4cd137;
    transition: .5s;
    color: white;
}

.modal-submit:hover {
    background-color: #27bb10;
}

/* List Helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Flex Helpers */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.align-start {
    align-items: flex-start;
}





.inline-input {
    display: none;
    position: absolute;
    height: 40px;
    width: 500px;
    left: 0px; /**/
    top: 0px; /**/
}

.inline-input input {
    background-color: rgba(255, 0, 0, 0.2);
    outline: rgba(23, 31, 45, 1);
    border: none;
    width: 100%;
    height: 100%;
    -webkit-text-stroke: 1.6px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
}